<!DOCTYPE html>
<html>

<head>
    <title>Nunjucks</title>
    <script src="./main.js"></script>
    <script src="./node_modules/nunjucks/browser/nunjucks.js"></script>
</head>

<body>
    <script>
        nunjucks.configure({ autoescape: true });
        nunjucks.addFilter('endsWithBiz', function (email) {
            return email.endsWith('.biz');
        });

        // Template
        const template = `
{% for item in data %}
  {% if item.email | endsWithBiz %}
    Name: {{ item.name }}
    Email: {{ item.email }}
    <br><br>
  {% endif %}
{% endfor %}
`;

        // Render the template with the data
        const renderedOutput = nunjucks.renderString(template, { data });
        // Display the rendered output
        const container = document.createElement('div');
        container.innerHTML = renderedOutput;
        document.body.appendChild(container);
    </script>
</body>

</html>