<!DOCTYPE html>
<html>

<head>
    <title>Nunjucks</title>
    <script src="./main.js"></script>
    <script src="./node_modules/nunjucks/browser/nunjucks.js"></script>
</head>

<body>
    <script>

        // Configure Nunjucks
        nunjucks.configure({ autoescape: true });

        // Define the template
        const template = `
        {% for item in data %}
  ID: {{ item.id }}
  Address:
    Street: {{ item.address.street }}
    Suite: {{ item.address.suite }}
    City: {{ item.address.city }}
    Zipcode: {{ item.address.zipcode }}
{% endfor %}`;

        // Render the template with the data
        const renderedOutput = nunjucks.renderString(template, { data });
        // Display the rendered output
        const container = document.createElement('div');
        container.innerHTML = renderedOutput;
        document.body.appendChild(container);
    </script>
</body>

</html>