<!DOCTYPE html>
<html>

<head>
    <title>Nunjucks</title>
    <script src="./main.js"></script>
    <script src="./node_modules/nunjucks/browser/nunjucks.js"></script>
</head>

<body>
    <script>

        // Configure Nunjucks
        nunjucks.configure({ autoescape: true });

        // Define the template
        const template = `
        {% for user in users %}
  {% set catchPhrase = user.company.catchPhrase %}
  {% if catchPhrase.length > 15 %}
    {% set catchPhrase = catchPhrase.slice(0, 15) + '...' %}
  {% endif %}
  {{ catchPhrase }}
{% endfor %}
`;
        // Render the template with the data
        const renderedOutput = nunjucks.renderString(template, { users: data });
        // Display the rendered output
        const container = document.createElement('div');
        container.innerHTML = renderedOutput;
        document.body.appendChild(container);
    </script>
</body>

</html>